**.DS_store
/.idea
/venv
*.ipynb_checkpoints
.mapbox_token
*.pyc
/tidd.egg-info/*
.coverage
.coverage.*
/data
data.tar.gz
.ipynb_checkpoints
*/.ipynb_checkpoints/*
proposals
documents

#vscode files
.vscode/*


