**.DS_store
/.idea
/venv
.venv/
*.ipynb_checkpoints
.mapbox_token
*.pyc
__pycache__/
/tidd.egg-info/*
*.egg-info/
.coverage
.coverage.*
/data
data.tar.gz
.ipynb_checkpoints
*/.ipynb_checkpoints/*
proposals
documents
config.yaml

# vscode files
.vscode/*

# poetry
poetry.lock
